node_modules
.env
.env.local
.env.*.local
dist
.output
*.db
*.db-journal
.DS_Store
.vscode
.idea

.nitro

packages/frontend/docs
packages/backend/docs

.agents
settings.local.json
code_review
.claude/skills/
